<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="UTF-8" />
        <title>Instant Messaging </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!--[if IE]>
           <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
           <![endif]-->
        <!-- GLOBAL STYLES -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/theme.css" />
        <link rel="stylesheet" href="assets/css/MoneAdmin.css" />
        <link rel="stylesheet" href="assets/plugins/Font-Awesome/css/font-awesome.css" />
        <!--END GLOBAL STYLES -->

        <!-- PAGE LEVEL STYLES -->
        <link href="assets/css/layout2.css" rel="stylesheet" />
        <link href="assets/plugins/flot/examples/examples.css" rel="stylesheet" />
        <link rel="stylesheet" href="assets/plugins/timeline/timeline.css" />
        <!-- END PAGE LEVEL  STYLES -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body class="padTop53 " >

        <!-- MAIN WRAPPER -->
        <div id="wrap" >


            <!-- HEADER SECTION -->
            <div id="top">

                <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                    <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                        <i class="icon-align-justify"></i>
                    </a>
                    <!-- LOGO SECTION -->
                    <header class="navbar-header">

                        <!--<a href="index.html" class="navbar-brand">
                            <img src="assets/img/logo.png" alt="" />

                        </a>-->
                    </header>
                    <!-- END LOGO SECTION -->
                    <ul class="nav navbar-top-links navbar-right">

                        <!-- MESSAGES SECTION -->
                        
                        <!--END MESSAGES SECTION -->

                        <!--TASK SECTION -->
                        
                        <!--END TASK SECTION -->

                        <!--ALERTS SECTION -->
                       
                        <!-- END ALERTS SECTION -->

                        <!--ADMIN SETTINGS SECTIONS -->

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Groups &nbsp;<i class="icon-chevron-down "></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/add_group"><i class="icon-tasks"></i> Add Group </a>
                                </li>
                                <li><a href="/add_member"><i class="icon-user"></i> Add Member </a>
                                </li>
                                <li class="divider"></li>
                            </ul>

                        </li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="icon-user"></i> User Profile </a>
                                </li>
                                <li><a href="#"><i class="icon-gear"></i> Settings </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/sign_out"><i class="icon-signout"></i> Logout </a>
                                </li>
                            </ul>

                        </li>
                        <!--END ADMIN SETTINGS -->
                    </ul>

                </nav>

            </div>
            <!-- END HEADER SECTION -->



            <!-- MENU SECTION -->
            <div id="left" >
                <!--<div class="media user-media well-small">
                    <a class="user-link" href="#">
                        <img class="media-object img-thumbnail user-img" alt="User Picture" src="assets/img/user.gif" />
                    </a>
                    <br />
                    <div class="media-body">
                        <h5 class="media-heading"> Joe Romlin</h5>
                        <ul class="list-unstyled user-info">

                            <li>
                                <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online

                            </li>

                        </ul>
                    </div>
                    <br />
                </div>-->

                <ul id="menu" class="collapse">


                    <li class="panel active">
                        <a href="/" >
                            <i class="icon-table"></i> Dashboard


                        </a>                   
                    </li>



                    <li class="panel ">
                        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                            <i class="icon-tasks"> </i> Group 1   

                            <span class="pull-right">
                                <i class="icon-angle-left"></i>
                            </span>
                            &nbsp; <span class="label label-success">8</span>&nbsp;
                        </a>
                        <ul class="collapse" id="component-nav">

                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 1 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 2 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 3 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 4 </a></li>

                        </ul>
                    </li>
                    
                    <li class="panel ">
                        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                            <i class="icon-tasks"> </i> Group 3   

                            <span class="pull-right">
                                <i class="icon-angle-left"></i>
                            </span>
                            &nbsp; <span class="label label-warning">12</span>&nbsp;
                        </a>
                        <ul class="collapse" id="component-nav">

                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 1 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 2 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 3 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 4 </a></li>

                        </ul>
                    </li>
                    
                    <li class="panel ">
                        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                            <i class="icon-tasks"> </i> Group 2   

                            <span class="pull-right">
                                <i class="icon-angle-left"></i>
                            </span>
                            &nbsp; <span class="label label-danger">6</span>&nbsp;
                        </a>
                        <ul class="collapse" id="component-nav">

                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 1 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 2 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 3 </a></li>
                            <li class=""><a href="button.html"><i class="icon-angle-right"></i> Member 4 </a></li>

                        </ul>
                    </li>
                    
                </ul>

            </div>
            <!--END MENU SECTION -->



            <!--PAGE CONTENT -->
            <div id="content">

                <div class="inner" style="min-height: 700px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1> Instant Collaboration </h1>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="chat-panel panel panel-success">
                                <div class="panel-heading">
                                    <i class="icon-comments"></i>
                                    Open Communication

                                </div>

                                <div class="panel-body">
                                    <ul class="chat">
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                                <img src="assets/img/1.png" alt="User Avatar" class="img-circle" />
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font "> Jack Sparrow </strong>
                                                    <small class="pull-right text-muted label label-danger">
                                                        <i class="icon-time"></i> 12 mins ago
                                                    </small>
                                                </div>
                                                <br />
                                                <p>
                                                    Lorem ipsum dolor sit amet, bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix">
                                            <span class="chat-img pull-right">
                                                <img src="assets/img/2.png" alt="User Avatar" class="img-circle" />
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted label label-info">
                                                        <i class="icon-time"></i> 13 mins ago</small>
                                                    <strong class="pull-right primary-font"> Jhony Deen</strong>
                                                </div>
                                                <br />
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur a dolor, quis ullamcorper ligula sodales.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                                <img src="assets/img/3.png" alt="User Avatar" class="img-circle" />
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font"> Jack Sparrow </strong>
                                                    <small class="pull-right text-muted label label-warning">
                                                        <i class="icon-time"></i> 12 mins ago
                                                    </small>
                                                </div>
                                                <br />
                                                <p>
                                                    Lorem ipsum dolor sit amet, bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix">
                                            <span class="chat-img pull-right">
                                                <img src="assets/img/4.png" alt="User Avatar" class="img-circle" />
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted label label-primary">
                                                        <i class="icon-time"></i> 13 mins ago</small>
                                                    <strong class="pull-right primary-font"> Jhony Deen</strong>
                                                </div>
                                                <br />
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur a dolor, quis ullamcorper ligula sodales.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your comment here..." />
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-sm" id="btn-chat">
                                                Send
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </div>


                        </div>
                    
                    </div>
                    <!-- END COMMENT AND NOTIFICATION  SECTION -->




                    <!--  STACKING CHART  SECTION   -->
                    
                    <!--END STACKING CHART SCETION  -->

                    <!--TABLE, PANEL, ACCORDION AND MODAL  -->
                   
                    <!--TABLE, PANEL, ACCORDION AND MODAL  -->


                </div>

            </div>
            <!--END PAGE CONTENT -->

            <!-- RIGHT STRIP  SECTION -->
            <div id="right">


                
                <div class="well well-small">
                    <button class="btn btn-primary btn-block"> Private Mode</button>
                    <button class="btn btn-info btn-block"> Open Mode </button>
                </div>
                
            </div>
            <!-- END RIGHT STRIP  SECTION -->
        </div>

        <!--END MAIN WRAPPER -->

        <!-- FOOTER -->
        <div id="footer">
            <p>&copy;  binarytheme &nbsp;2014 &nbsp;</p>
        </div>
        <!--END FOOTER -->


        <!-- GLOBAL SCRIPTS -->
        <script src="assets/plugins/jquery-2.0.3.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!-- END GLOBAL SCRIPTS -->

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="assets/plugins/flot/jquery.flot.js"></script>
        <script src="assets/plugins/flot/jquery.flot.resize.js"></script>
        <script src="assets/plugins/flot/jquery.flot.time.js"></script>
        <script  src="assets/plugins/flot/jquery.flot.stack.js"></script>
        <script src="assets/js/for_index.js"></script>

        <!-- END PAGE LEVEL SCRIPTS -->


    </body>

    <!-- END BODY -->
</html>
